<!doctype html>
<html class="no-js" lang="en-us">
<head>
    <!-- META DATA -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--[if IE]><meta http-equiv="cleartype" content="on" /><![endif]-->

    <!-- SEO -->
    <title>NAT</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" media="screen, projection" href="assets/styles/modern.css" />
    <!-- <link rel="stylesheet" media="screen, projection" href="assets/styles/legacy.css" /> -->
    <!--[if lte IE 7]><link rel="stylesheet" media="screen, projection" href="assets/styles/legacy.css" /><![endif]-->
</head>
<body>
    <div class="wrapper">
      <div class="masthead">
          <div class="masthead-user-nav">
              <div class="split">
                  <div class="split-left">
                      <a href="/" class="masthead-logo">Crispin and Mulberry - World Travelers</a>
                  </div>
                  <div class="split-right">
                      <form>
                          <div class="masthead-search">
                              <input type="text" name="search" class="form-input form-input_txt" placeholder="Search" />
                              <i class="icon icon_search">Search</i>
                          </div>
                      </form>
                      <ul class="hList hList_piped mix-hList_light">
                          <li>
                              <a href="#">My Account</a>
                          </li>
                          <li>
                              <a href="#">My Subscriptions</a>
                          </li>
                          <li>
                              <a href="#">My Articles</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <ul class="nav">
              <li class="nav-item">
                  <a href="#">Destinations</a>
              </li>
              <li class="nav-item nav-item_isActive">
                  <a href="#">Getaways</a>
              </li>
              <li class="nav-item">
                  <a href="#">Travel Tips</a>
              </li>
              <li class="nav-item">
                  <a href="#">News &amp; Features</a>
              </li>
              <li class="nav-item">
                  <a href="#">Contests</a>
              </li>
              <li class="nav-item">
                  <a href="#">Contact</a>
              </li>
          </ul>
      </div> <!-- /masthead -->
  </div> <!-- /wrapper -->
