/*

Element Styles
==============

*/


body {
    font: 14px/18px Helvetica, Arial, sans-serif;
    color: #282b2e;
    background: url(../media/images/page-bg.png) no-repeat top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}