/*

Horizontal List
=================

*/

.hList {
    @include clearfix();
}

.hList > * {
    float: left;
    display: inline;
}

.hList * + * { margin-left: 12px; }

.hList_piped * + * {
    border-left-width: 1px;
    border-style: solid;
    padding-left: 12px;
}

.mix-hList_light * {
    color: #ffffff;
}