/*

Horizontal List
=================

*/

.hList {
    /*@include clearfix();*/
    overflow: hidden;
}

.hList li {
    float: left;
    display: inline;
}

.hList li + li { margin-left: 12px; }

.hList_piped li + li {
    border-left-width: 1px;
    border-style: solid;
    padding-left: 12px;
}

.mix-hList_light * {
    color: #ffffff;
}